services:
  - type: web
    name: status-image-api
    env: docker
    plan: free
    region: singapore
    dockerfilePath: ./Dockerfile
    branch: main

    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000

    healthCheckPath: /
